Node-RED flow_Full.json
[
    {
        "id": "5fece382.b743ac",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "49d66274.a104ac",
        "type": "ibmiot in",
        "z": "5fece382.b743ac",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "MyCar",
        "applicationId": "",
        "deviceType": "raspberryPi",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 72.24996948242188,
        "y": 219.25,
        "wires": [
            [
                "c2734f37.afc2d"
            ]
        ]
    },
    {
        "id": "16c71ef8.1b1af9",
        "type": "cloudant out",
        "z": "5fece382.b743ac",
        "name": "Trip Details",
        "cloudant": "",
        "database": "iotdb",
        "service": "watson-iot-sample-MH-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 382.2500305175781,
        "y": 166.50003051757812,
        "wires": []
    },
    {
        "id": "40d0ca7.bd40a34",
        "type": "http request",
        "z": "5fece382.b743ac",
        "name": "getLast2Docs",
        "method": "GET",
        "ret": "obj",
        "url": "https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/_design/carProbe/_view/alldocs?limit=2&descending=true",
        "tls": "",
        "x": 558.5000305175781,
        "y": 218.75,
        "wires": [
            [
                "364e7d47.14dbba",
                "e2554589.c30498"
            ]
        ]
    },
    {
        "id": "694f12f2.3366b4",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "setArg2 (1st point)",
        "func": "msg.payload = msg.payload.rows[0].value; //JSON object containing values related to the current Car Probe Point\n\n//Add the following to the data to that retrieved from the Cloudant NoSQL DB\n//Set initial values for heading, longitude, latitude, velocity vectors,resultant speed and distance travelled\nmsg.payload.heading = 90; //Angle of moving direction, North is 0 and value increases clockwise (in degrees)\nmsg.payload.latitude = 40.768216; //Latitude in degrees\nmsg.payload.longitude = -74.18529; //Longitude in degrees\nmsg.payload.V_x = 0; // Velocity in the x direction (in m/s)\nmsg.payload.V_y = 0; // Velocity in the y direction (in m/s)\nmsg.payload.V_z = 0; // Velocity in the z direction (in m/s)\nmsg.payload.Sr = 0; // Resultant speed (in m/s)\nmsg.payload.distance = 0; // Distance travelled (in m)\nglobal.set(\"distance\",0); // Set total distance travelled to 0 (in m)\n\n//Url to be passed to update the doc to which the above data should belong to\nvar url= \"https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/\" + msg.payload._id + \"?rev=\" + msg.payload._rev;\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 968.2500305175781,
        "y": 173,
        "wires": [
            [
                "87c697da.dce108",
                "e80dc814.f71038",
                "23d5dd1e.9c18ea"
            ]
        ]
    },
    {
        "id": "c2734f37.afc2d",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "SetArgs1",
        "func": "//Add the following to the data sent be RPI Zero (acceleration in x,y&z direction (in m/s^2), IR (digital value), Ultra-Sonic (in cm))\n//Set a trip ID\nmsg.payload.trip_id = \"trip0001\";\n\n//Set road type\nmsg.payload.road_type = \"Sample Track\";\n\n//Set timestamp\nvar date = new Date();\ndate.setTime(date.getTime() + (4*60*60*1000)); //Added 4hrs as the timezone is Asia/Dubai (can use moment module and set the timezone)\nmsg.payload.timestamp = date.toISOString();\n\n//Set time of the day\nvar hours = date.getHours();\nmsg.payload.hour = hours;\nif (hours>=0 && hours<12){\n    msg.payload.time_of_day = \"Morning\";\n}else if (hours>=12 && hours<16){\n    msg.payload.time_of_day = \"Afternoon\";\n}else if (hours>=16 && hours<20){\n    msg.payload.time_of_day = \"Evening\";\n}else{\n    msg.payload.time_of_day = \"Night\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 206.74996948242188,
        "y": 219.25,
        "wires": [
            [
                "720915dd.a12c2c",
                "ff2c91fb.1ee498",
                "16c71ef8.1b1af9",
                "83869f4d.310d5",
                "1be03dae.ab3eba",
                "bd2b4589.6e918",
                "4c5ec472.c3085c",
                "cfca20d4.8d9ec8"
            ]
        ]
    },
    {
        "id": "e2554589.c30498",
        "type": "switch",
        "z": "5fece382.b743ac",
        "name": "# CarProbePoints",
        "property": "payload.total_rows",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 768.75,
        "y": 218.75,
        "wires": [
            [
                "694f12f2.3366b4"
            ],
            [
                "c4989935.d8d8b"
            ]
        ]
    },
    {
        "id": "c4989935.d8d8b",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "setArg2",
        "func": "prev_point = msg.payload.rows[1].value; //JSON object containing values related to the previous Car Probe Point\nmsg.payload = msg.payload.rows[0].value; //JSON object containing values related to the current Car Probe Point\n\n//Find time difference between the two Car Probe Point (in s). It will be used for calculating some of the values\nt_diff = msg.payload.t_diff = (Math.abs(new Date(msg.payload.timestamp) - new Date(prev_point.timestamp)))/1000;\n\n//Add the following to the data to that retrieved from the Cloudant NoSQL DB\n//Set values for heading, longitude, latitude, velocity vectors,resultant speed and distance travelled\nmsg.payload.V_x = prev_point.V_x + msg.payload.acc_x*t_diff; // Velocity in the x direction (in m/s)\nmsg.payload.V_y = prev_point.V_y + msg.payload.acc_y*t_diff; // Velocity in the y direction (in m/s)\nmsg.payload.V_z = prev_point.V_z + msg.payload.acc_z*t_diff; // Velocity in the z direction (in m/s)\n\n// Calculate Resultant speed (in m/s)\nmsg.payload.Sr = Math.sqrt( Math.pow(msg.payload.V_x, 2) + Math.pow(msg.payload.V_y, 2) + Math.pow(msg.payload.V_z, 2) );\n\n//Calculate Distance travelled (in m)\nmsg.payload.distance = msg.payload.Sr * t_diff;\nglobal.set(\"distance\", global.get(\"distance\") + msg.payload.distance); // update total distance (in m)\n\nif (msg.payload.distance !== 0){\n    //Calculate new heading //Angle of moving direction, North is 0 and value increases clockwise (in degrees)\n\tmsg.payload.heading = Math.acos(msg.payload.V_y/msg.payload.distance)*180/Math.PI;\n\t\n\t//Longitude and Latitude of previous Car Probe Point (in degrees)\n\tlat1 = prev_point.latitude;\n\tlon1 = prev_point.longitude;\n\n\tvar radius = 6371e6; // (Mean) radius of earth in meters\n\tvar toRadians = function(v) { return v * Math.PI / 180; };\n\tvar toDegrees = function(v) { return v * 180 / Math.PI; };\n\n\tvar angular_dist = msg.payload.distance / radius; // angular distance in radians\n\tvar heading_rad = toRadians(msg.payload.heading);\n\n\tvar lat1_rad = toRadians(lat1);\n\tvar lon1_rad = toRadians(lon1);\n\n\tvar sin_lat1_rad = Math.sin(lat1_rad), cos_lat1_rad = Math.cos(lat1_rad);\n\tvar sin_angular_dist = Math.sin(angular_dist), cos_angular_dist = Math.cos(angular_dist);\n\tvar sin_heading_rad = Math.sin(heading_rad), cos_heading_rad = Math.cos(heading_rad);\n\n\tvar sin_lat2_rad = sin_lat1_rad*cos_angular_dist + cos_lat1_rad*sin_angular_dist*cos_heading_rad;\n\tvar lat2_rad = Math.asin(sin_lat2_rad);\n\tvar y = sin_heading_rad * sin_angular_dist * cos_lat1_rad;\n\tvar x = cos_angular_dist - sin_lat1_rad * sin_lat2_rad;\n\tvar lon2_rad = lon1_rad + Math.atan2(y, x);\n\n\tvar lat2 = toDegrees(lat2_rad);\n\tvar lon2 = (toDegrees(lon2_rad)+540)%360-180; // normalise to −180..+180 degrees\n\n\tmsg.payload.latitude = lat2;\n\tmsg.payload.longitude = lon2;\n\n}else{\n    //If no deistance is travelled use the heading, longitude and latitude of the previous Car Probe Point\n\tmsg.payload.heading = prev_point.heading;\n\tmsg.payload.latitude = prev_point.latitude;\n\tmsg.payload.longitude = prev_point.longitude;\n}\n\n//Url to be passed to update the doc to which the above data should belong to\nvar url= \"https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/\" + msg.payload._id + \"?rev=\" + msg.payload._rev;\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 944.75,
        "y": 259.25,
        "wires": [
            [
                "87c697da.dce108",
                "e80dc814.f71038",
                "a8d33d68.40a3a8",
                "23d5dd1e.9c18ea"
            ]
        ]
    },
    {
        "id": "ff2c91fb.1ee498",
        "type": "delay",
        "z": "5fece382.b743ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 382.9999694824219,
        "y": 218.75,
        "wires": [
            [
                "40d0ca7.bd40a34"
            ]
        ]
    },
    {
        "id": "87c697da.dce108",
        "type": "http request",
        "z": "5fece382.b743ac",
        "name": "Update",
        "method": "PUT",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 1208.9999694824219,
        "y": 224.25,
        "wires": [
            [
                "b4639d7e.e15188"
            ]
        ]
    },
    {
        "id": "8bffbb17.58ee38",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Driving behavior",
        "func": "var prev_Sr = msg.payload.rows[1].value.Sr; // JSON object containing values related to the previous Car Probe Point\nvar curr_Sr = msg.payload.rows[0].value.Sr; // JSON object containing values related to the current Car Probe Point\nvar thres_Sr_diff = 4; // Threshold to determine harsh acceleration and braking\nvar thres_Sr = 15; // Threshold to determine overspeeding\n\n// Variables used to determine if acceleration, braking and stopping are happening frequently\nvar stop = 0;\nvar freq_acc = 0;\nvar freq_brake = 0;\n\nvar thres_count = 3; // Threshold of when to consider calculating frequent acceleration, braking and stopping\n\n//Set Harsh Acceleration //recognized if the acceleration data exceeds a threshold value\nmsg.payload.rows[0].value.harsh_acc = (curr_Sr - prev_Sr) > thres_Sr_diff;\nif(msg.payload.rows[0].value.harsh_acc === true){ //set frequency at which Harsh Acceleration happens\n    global.set(\"harsh_acc_count\", global.get(\"harsh_acc_count\") + 1);\n}\n\n//Set Harsh Braking //recognized if the deceleration exceeds the threshold value\nmsg.payload.rows[0].value.harsh_brake = (curr_Sr - prev_Sr) < -thres_Sr_diff;\nif(msg.payload.rows[0].value.harsh_brake === true){ //set frequency at which Harsh Braking happens\n    global.set(\"harsh_brake_count\", global.get(\"harsh_brake_count\") + 1);\n}\n\n//Set Overspeeding //Based on a threshold value\nmsg.payload.rows[0].value.overspeed = curr_Sr > thres_Sr; \nif(msg.payload.rows[0].value.overspeed === true){ //set frequency at which Overspeeding happens\n    global.set(\"overspeed_count\", global.get(\"overspeed_count\") + 1);\n}\n\n//Calculate frequent acceleration, braking and stopping\nif(msg.payload.total_rows > 5){\n\tfor (var i in msg.payload.rows){\n\t\tif(msg.payload.rows[i].value.Sr === 0){\n\t\t\tstop++;\n\t\t}\n\n\t\tif(msg.payload.rows[i].value.harsh_acc === true){\n\t\t\tfreq_acc++;\n\t\t}\n\n\t\tif(msg.payload.rows[i].value.harsh_brake === true){\n\t\t\tfreq_brake++;\n\t\t}\n\t}\n}\n\n//Set Frequent stopping //Frequent stops are recognized if there are many stop instances within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_stop = stop > thres_count; \nif(msg.payload.rows[0].value.freq_stop === true){ //set frequency at which Frequent stopping happens\n    global.set(\"freq_stop_count\", global.get(\"freq_stop_count\") + 1);\n}\n\n//Set Frequent Acceleration //Frequent acceleration is detected if the driver frequently exceeds the threshold value within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_acc = freq_acc > thres_count;\nif(msg.payload.rows[0].value.freq_acc === true){ //set frequency at which Frequent Acceleration happens\n    global.set(\"freq_acc_count\", global.get(\"freq_acc_count\") + 1);\n}\n\n//Set Frequent Braking //Frequent deceleration is recognized if the driver exceeds the threshold value frequently within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_brake = freq_brake > thres_count;\nif(msg.payload.rows[0].value.freq_brake === true){ //set frequency at which Frequent Braking happens\n    global.set(\"freq_brake_count\", global.get(\"freq_brake_count\") + 1);\n}\n\nmsg.payload = msg.payload.rows[0].value;\n\n//Url to be passed to update the doc to which the above data should belong to\nvar url= \"https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/\" + msg.payload._id + \"?rev=\" + msg.payload._rev;\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2102.250030517578,
        "y": 240,
        "wires": [
            [
                "c64c44b6.4e32c8",
                "720d8241.8c8b1c"
            ]
        ]
    },
    {
        "id": "f6e6580e.174068",
        "type": "http request",
        "z": "5fece382.b743ac",
        "name": "getLast10Docs",
        "method": "GET",
        "ret": "obj",
        "url": "https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/_design/carProbe/_view/alldocs?limit=10&descending=true",
        "tls": "",
        "x": 1533.5000305175781,
        "y": 223,
        "wires": [
            [
                "48c0bb1a.f4085c"
            ]
        ]
    },
    {
        "id": "b4639d7e.e15188",
        "type": "delay",
        "z": "5fece382.b743ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1360.7500305175781,
        "y": 223.75,
        "wires": [
            [
                "f6e6580e.174068"
            ]
        ]
    },
    {
        "id": "c64c44b6.4e32c8",
        "type": "http request",
        "z": "5fece382.b743ac",
        "name": "Update",
        "method": "PUT",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 2363.5000610351562,
        "y": 224.75,
        "wires": [
            [
                "41b7f2b8.ac78ec"
            ]
        ]
    },
    {
        "id": "d4f76648.2d6038",
        "type": "switch",
        "z": "5fece382.b743ac",
        "name": "# CarProbePoints",
        "property": "payload.total_rows",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1892.2500305175781,
        "y": 222.5,
        "wires": [
            [
                "33f15e72.d1618a"
            ],
            [
                "8bffbb17.58ee38"
            ]
        ]
    },
    {
        "id": "33f15e72.d1618a",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Driving behavior (1st point)",
        "func": "//Set the initial values for harsh acceleration, harsh braking and overspeeding to false\n//Set Harsh Acceleration //recognized if the acceleration data exceeds a threshold value\nmsg.payload.rows[0].value.harsh_acc = false;\nglobal.set(\"harsh_acc_count\", 0); //set frequency at which Harsh Acceleration happens (initially 0)\n\n//Set Harsh Braking //recognized if the deceleration exceeds the threshold value\nmsg.payload.rows[0].value.harsh_brake = false;\nglobal.set(\"harsh_brake_count\", 0); //set frequency at which Harsh Braking happens (initially 0)\n\n//Set Overspeeding //Based on a threshold value\nmsg.payload.rows[0].value.overspeed = false;\nglobal.set(\"overspeed_count\", 0); //set frequency at which Overspeeding happens (initially 0)\n\n//Set the initial values for frequent stopping, frequent acceleration and frequent braking to false\n//Set Frequent stopping //Frequent stops are recognized if there are many stop instances within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_stop = false; \nglobal.set(\"freq_stop_count\", 0); //set frequency at which Frequent stopping happens (initially 0)\n\n//Set Frequent Acceleration //Frequent acceleration is detected if the driver frequently exceeds the threshold value within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_acc = false;\nglobal.set(\"freq_acc_count\", 0); //set frequency at which Frequent Acceleration happens (initially 0)\n\n//Set Frequent Braking //Frequent deceleration is recognized if the driver exceeds the threshold value frequently within a certain range of Car Probe Points\nmsg.payload.rows[0].value.freq_brake = false;\nglobal.set(\"freq_brake_count\", 0); //set frequency at which Frequent Braking happens (initially 0)\n\nmsg.payload = msg.payload.rows[0].value;\n\n//Url to be passed to update the doc to which the above data should belong to\nvar url= \"https://c3018fd1-e69b-44fd-948d-24f84a957c12-bluemix.cloudant.com/iotdb/\" + msg.payload._id + \"?rev=\" + msg.payload._rev;\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2143.749969482422,
        "y": 195.25003051757812,
        "wires": [
            [
                "c64c44b6.4e32c8"
            ]
        ]
    },
    {
        "id": "83869f4d.310d5",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display IR",
        "func": "IR = msg.payload.IR;\n\nmsg = {topic:\"IR\", payload:IR};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 521.7499694824219,
        "y": 356.2500305175781,
        "wires": [
            [
                "e021e274.0f52d"
            ]
        ]
    },
    {
        "id": "1be03dae.ab3eba",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Ultra-Sonic",
        "func": "US = msg.payload.US;\n\nmsg = {topic:\"US\", payload:US};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 548.7499694824219,
        "y": 401.2500305175781,
        "wires": [
            [
                "8a817411.3bd97"
            ]
        ]
    },
    {
        "id": "bd2b4589.6e918",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Acceleration (z)",
        "func": "Z = msg.payload.acc_z;\n\nmsg = {topic:\"Z\", payload:Z};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 566.7499694824219,
        "y": 453.2500305175781,
        "wires": [
            [
                "4b6ad5d2.5c2cb4"
            ]
        ]
    },
    {
        "id": "4c5ec472.c3085c",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Acceleration (x)",
        "func": "X = msg.payload.acc_x;\n\nmsg = {topic:\"X\", payload:X};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 566.7499694824219,
        "y": 502.2500305175781,
        "wires": [
            [
                "4b6ad5d2.5c2cb4"
            ]
        ]
    },
    {
        "id": "cfca20d4.8d9ec8",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Acceleration (y)",
        "func": "Y = msg.payload.acc_y;\n\nmsg = {topic:\"Y\", payload:Y};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 571.7499694824219,
        "y": 554.2500305175781,
        "wires": [
            [
                "4b6ad5d2.5c2cb4"
            ]
        ]
    },
    {
        "id": "5022004f.2653f8",
        "type": "inject",
        "z": "5fece382.b743ac",
        "name": "clear",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 537.083251953125,
        "y": 49.91670227050781,
        "wires": [
            [
                "4b6ad5d2.5c2cb4",
                "8a817411.3bd97",
                "e021e274.0f52d",
                "fa4469f2.a87da",
                "8a992fa9.ca486",
                "ace69eb5.6a3858",
                "c6f8e944.9dffe8"
            ]
        ]
    },
    {
        "id": "720915dd.a12c2c",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 378.5000305175781,
        "y": 108.5,
        "wires": []
    },
    {
        "id": "e80dc814.f71038",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Speed",
        "func": "Sr = msg.payload.Sr;\n\nmsg = {topic:\"Speed\", payload:Sr.toFixed(2)};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1223.2499694824219,
        "y": 172,
        "wires": [
            [
                "ace69eb5.6a3858",
                "8a992fa9.ca486"
            ]
        ]
    },
    {
        "id": "720d8241.8c8b1c",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2371.5000610351562,
        "y": 269.75,
        "wires": []
    },
    {
        "id": "364e7d47.14dbba",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 769.75,
        "y": 264.5000305175781,
        "wires": []
    },
    {
        "id": "23d5dd1e.9c18ea",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Display Distance",
        "func": "Dist = global.get(\"distance\");\n\nmsg = {topic:\"Distance\", payload:Dist.toFixed(2)};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1239.2499694824219,
        "y": 280.5,
        "wires": [
            [
                "fa4469f2.a87da",
                "8fb0c969.acda98"
            ]
        ]
    },
    {
        "id": "fa4469f2.a87da",
        "type": "ui_text",
        "z": "5fece382.b743ac",
        "group": "7cb405ca.50016c",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Distance",
        "label": "Distance",
        "format": "{{msg.payload + \" m\"}}",
        "layout": "row-center",
        "x": 1433.75,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a817411.3bd97",
        "type": "ui_gauge",
        "z": "5fece382.b743ac",
        "name": "",
        "group": "7cb405ca.50016c",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Ultra-Sonic",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 794.7499694824219,
        "y": 403.2500305175781,
        "wires": []
    },
    {
        "id": "e021e274.0f52d",
        "type": "ui_gauge",
        "z": "5fece382.b743ac",
        "name": "Infra-Red",
        "group": "7cb405ca.50016c",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "Infra-Red",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#b54231",
            "#e6e600",
            "#00ca14"
        ],
        "seg1": "",
        "seg2": "",
        "x": 787.7499694824219,
        "y": 358.2500305175781,
        "wires": []
    },
    {
        "id": "4b6ad5d2.5c2cb4",
        "type": "ui_chart",
        "z": "5fece382.b743ac",
        "name": "",
        "group": "ceef7f6e.788718",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Car Velocity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "0",
        "dot": true,
        "ymin": "-5",
        "ymax": "5",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 805.7499694824219,
        "y": 503.2500305175781,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ace69eb5.6a3858",
        "type": "ui_chart",
        "z": "5fece382.b743ac",
        "name": "",
        "group": "ceef7f6e.788718",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Speed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "0",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1430.9999694824219,
        "y": 171,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a8d33d68.40a3a8",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1156.75,
        "y": 342.2500305175781,
        "wires": []
    },
    {
        "id": "8fb0c969.acda98",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1366.9999084472656,
        "y": 340,
        "wires": []
    },
    {
        "id": "48c0bb1a.f4085c",
        "type": "delay",
        "z": "5fece382.b743ac",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1709.0000305175781,
        "y": 223.25003051757812,
        "wires": [
            [
                "d4f76648.2d6038"
            ]
        ]
    },
    {
        "id": "8a992fa9.ca486",
        "type": "ui_gauge",
        "z": "5fece382.b743ac",
        "name": "",
        "group": "7cb405ca.50016c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1433.5000305175781,
        "y": 117.25,
        "wires": []
    },
    {
        "id": "41b7f2b8.ac78ec",
        "type": "function",
        "z": "5fece382.b743ac",
        "name": "Harsh Behavior Frequency",
        "func": "harsh_acc_ctr = global.get(\"harsh_acc_count\");\nharsh_brake_ctr = global.get(\"harsh_brake_count\");\noverspeed_ctr = global.get(\"overspeed_count\");\nfreq_acc_ctr = global.get(\"freq_acc_count\");\nfreq_brake_ctr = global.get(\"freq_brake_count\");\nfreq_stop_ctr = global.get(\"freq_stop_count\");\n\nmsg1 = {topic:\"Harsh Acc.\", payload:harsh_acc_ctr};\nmsg2 = {topic:\"Harsh Brake\", payload:harsh_brake_ctr};\nmsg3 = {topic:\"Overspeeding\", payload:overspeed_ctr};\nmsg4 = {topic:\"Freq. Stop\", payload:freq_acc_ctr};\nmsg5 = {topic:\"Freq. Acc.\", payload:freq_brake_ctr};\nmsg6 = {topic:\"Freq. Brake\", payload:freq_stop_ctr};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": "6",
        "noerr": 0,
        "x": 2613.749969482422,
        "y": 216,
        "wires": [
            [
                "c6f8e944.9dffe8",
                "2d6690a7.691be"
            ],
            [
                "c6f8e944.9dffe8"
            ],
            [
                "c6f8e944.9dffe8"
            ],
            [
                "c6f8e944.9dffe8"
            ],
            [
                "c6f8e944.9dffe8"
            ],
            [
                "c6f8e944.9dffe8"
            ]
        ]
    },
    {
        "id": "c6f8e944.9dffe8",
        "type": "ui_chart",
        "z": "5fece382.b743ac",
        "name": "",
        "group": "ceef7f6e.788718",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Harsh Behaviors Frequency",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 2930.999969482422,
        "y": 217.25,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2d6690a7.691be",
        "type": "debug",
        "z": "5fece382.b743ac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2880.499969482422,
        "y": 151,
        "wires": []
    },
    {
        "id": "7cb405ca.50016c",
        "type": "ui_group",
        "z": "",
        "name": "Gauges",
        "tab": "9b46182d.554848",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ceef7f6e.788718",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "9b46182d.554848",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9b46182d.554848",
        "type": "ui_tab",
        "z": "5fece382.b743ac",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]
